@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap");

body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  position: relative;
}

header {
  display: inline;
  overflow: hidden;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Navbar section */

.nav {
  height: 80px;
  position: sticky;
  line-height: 65px;
  background-color: white;
  top: 0;
  margin-left: 150px;
  margin-right: 150px;
}

.nav div.logo {
  width: 180px;
  height: 10px;
  float: left;
}

.nav div.logo a {
  text-decoration: none;
  color: #93d2fe;
  font-size: 26px;
}

.nav div.logo span {
  color: #152c5b;
}

.nav div.logo a:hover {
  color: #c0c0c0;
}

.nav div.main_list {
  float: right;
  gap: 1em;
  font-size: 16px;
}

.nav div.main_list ul {
  display: flex;
  list-style: none;
}

.nav div.main_list ul li {
  padding: 5px 14px;
}

.nav div.main_list ul li a {
  text-decoration: none;
  color: #152c5b;
  line-height: 65px;
  text-transform: uppercase;
}

.nav div.main_list ul li a:hover {
  color: #c0c0c0;
}

.nav div.media_button {
  width: 40px;
  height: 40px;
  background-color: transparent;
  position: absolute;
  right: 15px;
  top: 12px;
  display: none;
}

.nav div.media_button button.main_media_button {
  width: 100%;
  height: 100%;
  background-color: transparent;
  outline: 0;
  border: none;
  cursor: pointer;
}

.nav div.media_button button.main_media_button span {
  width: 98%;
  height: 1px;
  display: block;
  background-color: #152c5b;
  margin-top: 9px;
  margin-bottom: 10px;
}

.nav div.media_button button.main_media_button:hover span:nth-of-type(1) {
  transform: rotateY(180deg);
  transition: all 0.5s;
  background-color: #c0c0c0;
}

.nav div.media_button button.main_media_button:hover span:nth-of-type(2) {
  transform: rotateY(180deg);
  transition: all 0.4s;
  background-color: #c0c0c0;
}

.nav div.media_button button.main_media_button:hover span:nth-of-type(3) {
  transform: rotateY(180deg);
  transition: all 0.3s;
  background-color: #c0c0c0;
}

.nav div.media_button button.active span:nth-of-type(1) {
  transform: rotate3d(0, 0, 1, 45deg);
  position: absolute;
  margin: 0;
}

.nav div.media_button button.active span:nth-of-type(2) {
  display: none;
}

.nav div.media_button button.active span:nth-of-type(3) {
  transform: rotate3d(0, 0, 1, -45deg);
  position: absolute;
  margin: 0;
}

.nav div.media_button button.active:hover span:nth-of-type(1) {
  transform: rotate3d(0, 0, 1, 20deg);
}

.nav div.media_button button.active:hover span:nth-of-type(3) {
  transform: rotate3d(0, 0, 1, -20deg);
}

/* Home section */

.home {
  width: 100%;
  height: 100vh;
  background-color: #ddd;
}

/* Medai qurey section */

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .container {
    margin: 0;
  }
}

@media screen and (max-width: 768px) {
  .nav {
    width: 100% !important;
    margin-left: 0;
    margin-right: 0;
  }

  .container {
    margin: 0;
  }

  .nav div.logo {
    margin-left: 15px;
  }

  .nav div.main_list {
    width: 100%;
    margin-top: 55px;
    height: 0px;
    overflow: hidden;
    position: absolute;
  }

  .nav div.show_list {
    height: 200px;
    transition: all 1s;
  }

  .nav div.main_list ul {
    flex-direction: column;
    width: 100%;
    height: 200px;
    top: 80px;
    right: 0;
    left: 0;
  }

  .nav div.main_list ul li {
    width: 100%;
    height: 40px;
    background-color: white;
  }

  .nav div.main_list ul li a {
    text-align: center;
    line-height: 40px;
    width: 100%;
    height: 40px;
    display: table;
  }

  .nav div.media_button {
    display: block;
  }
}

/*
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0;
  background-color: white;
  color: #93d2fe;
  margin-top: 0;
  margin-left: 150px;
  margin-right: 150px;
  height: 80px;
  position: sticky;
  top: 0;
}

span {
  color: #304c7b;
}

.nav-links a {
  color: #304c7b;
}

.logo {
  font-size: 26px;
}

.menu {
  display: flex;
  gap: 1em;
  font-size: 16px;
}
.menu li:hover {
  text-decoration: underline;
  transition: 0.7s ease;
}
.menu li {
  padding: 5px 14px;
}

input[type="checkbox"] {
  display: none;
}

.hamburger {
  display: none;
  font-size: 24px;
  user-select: none;
}

@media (max-width: 768px) {
  .menu {
    display: none;
    position: absolute;
    background-color: white;
    right: 0;
    left: 0;
    text-align: center;
    padding: 16px 0;
  }
  .menu li:hover {
    display: inline-block;
    transition: 0.3s ease;
  }
  .menu li + li {
    margin-top: 12px;
  }

  input[type="checkbox"]:checked ~ .menu {
    display: block;
  }

  .hamburger {
    display: block;
  }
}
*/

main {
  margin-top: 80px;
}

.hero {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 21px 150px 20px 150px;
  padding: 0;
}

.hero .content {
  margin: 0;
  padding: 0;
  width: 549px;
}

.hero h1 {
  font-size: 32px;
  font-weight: 700;
  color: #304c7b;
}

.subtitle {
  margin-top: 28px;
  color: #b0b0b0;
}

.subtitle p {
  margin-top: 28px;
}

.gplay {
  margin-top: 40px;
}

.hero p span {
  color: #304c7b;
}

.item {
  box-sizing: border-box;
  margin-top: 60px;
  display: flex;
  flex-direction: row;
}
.item p {
  margin: 0;
}

.item1,
.item2,
.item3 {
  width: 151px;
}

.banner {
  align-self: center;
  vertical-align: middle;
}

.banner img {
  width: 555px;
  height: 467px;
}

@media (max-width: 728px) {
  main {
    margin-top: 0 !important;
  }

  .gplay {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .item {
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 40px;
  }

  .item1,
  .item2,
  .item3 {
    border: 1px solid #304c7b;
    box-shadow: #b0b0b0;
    border-radius: 15px;
    padding-bottom: 10px;
    margin-top: 10px;
    width: 100%;
  }

  .item img {
    margin-top: 20px;
  }

  .item p {
    margin-top: 20px;
  }

  .banner img {
    display: none;
  }
}

.populer {
  box-sizing: border-box;
  height: auto;
  margin-top: 70px;
  font-size: 24px;
  font-weight: 500;
  margin-left: 150px;
  margin-right: 150px;
}

.populer .title {
  color: #304c7b;
}

.gambar {
  margin-top: 20px;
  font-size: 20px;
  font-weight: 400;
}

.column {
  float: left;
  position: relative;
  margin-right: 30px;
}

.g1 img {
  border-radius: 15px;
  height: 420px;
  width: 330px;
}

.g1 .tempat {
  position: absolute;
  bottom: 47px;
  left: 24px;
  color: white;
}

.g1 .lokasi {
  position: absolute;
  bottom: 24px;
  left: 24px;
  color: white;
  font-weight: 300;
  font-size: 15px;
}

.row {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.g2 {
  position: relative;
}

.g2 img {
  border-radius: 15px;
  width: 330px;
}

.g2 .tempat {
  position: absolute;
  bottom: 47px;
  left: 24px;
  color: white;
}

.g2 .lokasi {
  position: absolute;
  bottom: 24px;
  left: 24px;

  color: white;
  font-weight: 300;
  font-size: 15px;
}

.g3 {
  position: relative;
}

.g3 img {
  border-radius: 15px;
  width: 330px;
}

.g3 .tempat {
  position: absolute;
  bottom: 47px;
  left: 24px;
  color: white;
}

.g3 .lokasi {
  position: absolute;
  bottom: 24px;
  left: 24px;

  color: white;
  font-weight: 300;
  font-size: 15px;
}

.row2 {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  justify-content: space-between;
}

.g4 {
  position: relative;
}

.g4 img {
  border-radius: 15px;
  width: 330px;
}

.g4 .tempat {
  position: absolute;
  bottom: 47px;
  left: 24px;
  color: white;
}

.g4 .lokasi {
  position: absolute;
  bottom: 24px;
  left: 24px;

  color: white;
  font-weight: 300;
  font-size: 15px;
}

.g5 {
  position: relative;
}

.g5 img {
  border-radius: 15px;
  width: 330px;
}

.g5 .tempat {
  position: absolute;
  bottom: 47px;
  left: 24px;
  color: white;
}

.g5 .lokasi {
  position: absolute;
  bottom: 24px;
  left: 24px;

  color: white;
  font-weight: 300;
  font-size: 15px;
}

@media (max-width: 728px) {
  .populer .title {
    text-align: center;
  }

  .column {
    display: none;
  }

  .g1 img {
    height: 215px;
  }

  .row {
    flex-direction: column;
    margin: 0;
  }

  .row img,
  .row2 img {
    width: 100%;
  }

  .row2 {
    flex-direction: column;
    flex-wrap: nowrap;
    margin-top: 0;
  }
}

.kategori {
  box-sizing: border-box;
  height: auto;
  margin-top: 70px;
  font-size: 24px;
  font-weight: 500;
  margin-left: 150px;
  margin-right: 150px;
}

.kategori .title {
  color: #304c7b;
}

.kategori .row {
  margin-top: 20px;
  justify-content: space-between;
}

.kategori .row img {
  width: 253px;
  height: auto;
  margin: 0;
}

.kategori .row .kota {
  font-weight: 400;
  font-size: 20px;
  color: #152c5b;
}

@media (max-width: 728px) {
  .kategori .title {
    text-align: center;
  }

  .kategori .row img {
    width: 100%;
    margin-top: 20px;
  }

  .kategori .row .kota {
    text-align: center;
  }
}

.why {
  box-sizing: border-box;
  height: auto;
  margin-top: 70px;
  font-size: 24px;
  font-weight: 500;
  margin-left: 150px;
  margin-right: 150px;
}

.why .title {
  color: #152c5b;
  text-align: center;
}

.why .row {
  justify-content: space-between;
  margin-top: 30px;
}

.why .row .article {
  padding-top: 70px;
}

.why .row img {
  height: auto;
  width: 412px;
  margin-right: 120px;
}

.why .poin {
  font-size: 20px;
  color: #152c5b;
  font-weight: 400;
}

.why .sub {
  font-size: 20px;
  color: #b0b0b0;
  font-weight: 300;
  margin-top: 13px;
}

.why .row2 {
  margin-top: 30px;
}

.why .row2 .article {
  padding-top: 70px;
  margin-right: 120px;
}

.why .row2 img {
  height: auto;
  width: 412px;
}

@media (max-width: 728px) {
  .why .row,
  .why .row2 {
    margin-top: 30px;
  }
  .why img {
    display: none;
  }

  .why .row .article {
    text-align: justify;
    box-sizing: border-box;
    border: 1px solid #152c5b;
    padding: 20px;
    border-radius: 15px;
  }

  .why .article .poin {
    text-align: center;
  }

  .why .row2 .article {
    text-align: justify;
    margin-right: 0;
    padding-top: 0;
    box-sizing: border-box;
    border: 1px solid #152c5b;
    padding: 20px;
    border-radius: 15px;
  }

  .navbar,
  .hero,
  .populer,
  .kategori,
  .why {
    margin-left: 50px;
    margin-right: 50px;
  }

  .hero .content {
    width: 100%;
  }
}

.team {
  box-sizing: border-box;
  height: auto;
  margin-top: 70px;
  font-size: 24px;
  font-weight: 500;
  margin-left: 150px;
  margin-right: 150px;
}

.team .title {
  color: #152c5b;
  text-align: center;
}

.team .row {
  justify-content: space-evenly;
  text-align: center;
  margin-top: 30px;
}

.team .row .poin {
  font-size: 20px;
  font-weight: 400;
  color: #152c5b;
  margin-top: 10px;
}

.team .row .sub {
  font-size: 20px;
  font-weight: 300;
  color: #b0b0b0;
  margin-top: 10px;
}

@media (max-width: 728px) {
  .team img {
    width: 155px;
    margin-top: 20px;
  }
}

#kontak {
  display: flex;
  justify-content: space-evenly;
  margin-top: 70px;
  margin-left: 150px;
  margin-right: 150px;
  height: 100%;
  position: relative;
}

#kontak .promote {
  box-sizing: border-box;
  height: auto;
  font-size: 24px;
  font-weight: 500;
  width: 70%;
}

.promote .logo {
  color: #93d2fe;
}

.promote .logo span {
  color: #152c5b;
}

.promote p {
  font-size: 18px;
  font-weight: 400;
  color: rgb(0, 0, 0, 50%);
  margin-top: 6px;
}

.promote .title {
  margin-top: 53px;
  font-size: 20px;
  font-weight: 500;
  color: #152c5b;
}

.promote a, .phone, .address {
  font-size: 18px;
  font-weight: 400;
  color: rgb(0, 0, 0, 50%);
}

aside {
  text-align: center;
  box-sizing: border-box;
  border: solid 1px #93d2fe;
  padding: 30px;
  border-radius: 15px 15px 0 0;
  z-index: -1;
}

aside .title {
  margin-top: 10px;
  font-size: 16px;
  color: #152c5b;
  font-weight: 500;
}


aside .nama,
.alamat,
.tentang {
  margin-top: 10px;
  font-size: 14px;
  font-weight: 300;
}

aside .content {
  font-size: 12px;
}

.wave-container {
  position: relative;
  background: #09f;
  color: #fff;
  text-align: center;
  overflow: hidden;
}

#kontak img {
  position: absolute;
}

#kontak .profil {
  position: static;
}

footer{
  font-size: 12px;
}

footer svg{
  position: absolute;
  width: 100%;
  height: 200px;
  bottom: 0;
  overflow: hidden;
  z-index: -1;
}

footer p{
  text-align: center;
  padding-bottom: 5px;
}

@media (max-width: 728px) {
  #kontak {
    flex-direction: column;
    width: 100%;
    margin: auto;
    margin-top: 70px;
  }

  #kontak .promote {
    text-align: center;
    margin: auto;
  }

  #kontak aside {
    margin: auto;
    margin-top: 20px;
    margin-bottom: 60px;
    width: 50%;
    border-radius: 15px;
  }

  footer svg{
    height: 150px;
    width: 100%;
  }

}
